<div class="parallax-section">
  <% if user_signed_in? %>
      <div class="main-left">
        <div class="panel transparent">
          <div class="panel-body">
            <div class="home-btn oval-btn text-center">
              All images
            </div>
            <div class="sub-btn oval-btn2 btn home-btn btn-hover" onclick="reloadhome(1)" id="opt1">
              Newest
            </div>
            <div class="sub-btn oval-btn2 btn home-btn" onclick="reloadhome(2)" id="opt2">
              Most liked
            </div>
            <div class=" text-center oval-btn home-btn">
              Followed user only
            </div>
            <div class="sub-btn oval-btn2 btn home-btn" onclick="reloadhome(3)" id="opt3">
              Newest
            </div>
            <div class="sub-btn oval-btn2 btn home-btn" onclick="reloadhome(4)" id="opt4">
              Most liked
            </div>
          </div>
        </div>
        <div class="testing hidden animated wow fadeInLeft" data-wow-duration=".5s">
          <div class="panel user-feed">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-5">
                  <% if @user.avatar.present? %>
                    <img src="<%= @user.avatar %>" width="110px" height="110px"
                         alt="" style="border-radius: 50%;
                      box-shadow: 2px 3px 11px rgba(34, 34, 34, 0.48);">
                  <% else %>
                    <img src="<%= asset_path 'default-avatar.jpg' %>"
                         width="110px" height="110px"
                         alt="" style="border-radius: 50%;
                      box-shadow: 2px 3px 11px rgba(34, 34, 34, 0.48);">
                  <% end %>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                  <div class="user-name" style="font-size: 1.5em; margin-top: 1.5vh">
                    <%= link_to @user.name, @user %>
                  </div>
                  <div>
                    Follower: <%= @user.followers.count %>
                  </div>
                  <div>
                    Following: <%= @user.following.count %>
                  </div>
                  <div>
                    Images: <%= @user.image.count %>
                  </div>
                </div>
              </div>
              <div class="follow-field" style="margin-top: 1vh">
                <% if current_user != @user %>
                  <% if @user.followers.include?(current_user) %>
                    <div class="follow img-btn btn"
                         style="width: 100%"
                         onclick="unfollowHome(<%= @user.id %>)">
                      Unfollow
                    </div>
                  <% else %>
                    <div class="follow img-btn btn"
                         style="width: 100%"
                         onclick="followHome(<%= @user.id %>)">
                      Follow
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 animated wow fadeIn"
            data-wow-delay="1.5s" data-wow-duration="1.5s">
            <div class="panel panel-primary">
              <div class="panel-body" id="new-feed">
                <h1 class="text-center">News Feed</h1>
                  <% @image.each_with_index do |image, index| %>
                    <div class="animated wow fadeInLeft"
                      data-wow-delay=".<%= index/2 %>s">
                      <hr style="margin-bottom: 5px">
                      <div class="feed-head">
                        <div class="row">
                          <div class="col-sm-1" style="padding: .1vh 1vw">
                            <% if image.user.avatar.present? %>
                              <img src="<%= image.user.avatar %>" width="40vw" height="40vh"
                                alt="" style="border-radius: 50%;
                                box-shadow: 2px 3px 11px rgba(34, 34, 34, 0.48);"
                                onclick="feedHeadAva(<%= image.user.id %>)">
                            <% else %>
                              <img src="<%= asset_path 'default-avatar.jpg' %>"
                                width="40vw" height="40vh"
                                alt="" style="border-radius: 50%;
                                box-shadow: 2px 3px 11px rgba(34, 34, 34, 0.48);"
                                onclick="feedHeadAva(<%= image.user.id %>)">
                            <% end %>
                          </div>
                          <div class="col-sm-4" style="margin-left: .4vw">
                            <div class="user-name"><%= link_to image.user.name, image.user %></div>
                            <div style="color: gray"><%= time_ago_in_words(image.created_at) %></div>
                          </div>
                        </div>
                      </div>
                      <div class="img-index-item img-index-item2" title="<%= image.title %>"
                           style="background: url(<%= image.file.url %>);
                             background-size: cover; background-position: center;
                             background-repeat: no-repeat; background-color: black">
                        <div class="modal" style="background: url(<%= image.file.url %>);
                          background-size: contain; background-position: center;
                          background-repeat: no-repeat; background-color: black; z-index: 1000"></div>
                        <div class="img-overlay">
                          <div class="img-title2">
                            <%=h truncate(image.title, :length => 35) %>
                          </div>
                          <div class="img-info" id="info<%= image.id %>">
                            <%= image.like.count %> likes
                            <%= image.image_comment.count %> comment
                          </div>
                        </div>
                      </div>
                      <div class="img-show-btn3 row">
                        <div class="animated wow fadeInLeft" data-wow-delay=".4s">
                          <%= link_to 'Show', image,
                            class: "col-sm-4 text-center btn-blue img-btn btn" %>
                        </div>
                        <div class="animated wow fadeInLeft col-sm-4
                         text-center btn-green img-btn btn" data-wow-delay=".2s"
                         onclick="cmtHome(<%= image.id %>)">
                          Comment
                        </div>
                        <div id="btn-like<%= image.id %>">
                          <% if !current_user.likes.where(image_id: image.id).present? %>
                            <div class="animated wow fadeInLeft col-sm-4
                           text-center btn-green-yellow img-btn btn" data-wow-delay=".1s"
                             onclick="likeHome(<%= image.id %>)">
                              Like
                            </div>
                          <% else %>
                            <div class="animated wow fadeInLeft col-sm-4
                           text-center btn-green-yellow img-btn btn" data-wow-delay=".1s"
                             onclick="unlikeHome(<%= image.id %>,<%= current_user.likes.where(image_id: image.id).ids %>)">
                              Unlike
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="panel animated wow fadeInDown hidden" id="cmt<%= image.id %>">
                        <%= form_for :image_comment, method: :post, remote: true do |f| %>
                          <div class="row">
                            <div class= "cmt-field col-sm-9" style="margin-left: 1vw">
                              <%= f.text_field :comment, class: "form-control", id: "cmt-field#{image.id}" %>
                            </div>
                            <div class="btn col-sm-2 btn-primary btn-cmt img-btn"
                              onclick="commentHome(<%= image.id %>)">
                              Comment
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-right">
        <div class="panel chat-field">
          <div class="panel-body" style="height: 65vh; overflow: visible">
            <h3 class="text-center" style="margin-top: 1vh">
              Chat
            </h3>
            <% current_user.following.each do |f| %>
             <div class="chat-row row">
               <% if f.avatar.to_s == "" %>
                 <img src="<%= asset_path 'default-avatar.jpg' %>"
                      alt="" style="border-radius: 50%; padding: 0 !important"
                      width="10vw" height="30vh" class="col-sm-2">
               <% else %>
                 <img src="<%= f.avatar.to_s %>"
                      alt="" style="border-radius: 50%; padding: 0 !important"
                      width="10vw" height="30vh" class="col-sm-2">
               <% end %>
               <div class="col-sm-10" style="margin-top: 1vh"><%= f.name %></div>
             </div>
            <% end %>
          </div>
        </div>
       </div>
  <% else %>
    <p class="home-title">Welcome to Gakkinikki</p>
    <a href="<%= new_user_registration_path %>" class="btn signupnow btn-upload-center">Sign up now</a>
  <% end %>
</div>
