<%= form_for(image) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr>
  <div class="field hidden">
    <%= f.label :user_id, class: "form-label" %>
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, value: image.title, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_field :description, value: image.description, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :price, class: "form-label" %>
    <%= f.text_field :price, value: image.price, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :instrument, class: "form-label" %>
    <br>
    <%= f.select :instrument_id, @instrument.map { |i| [ i.name, i.id ] },
      include_blank: "Select instrument", selected: image.instrument_id, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :file, class: "form-label" %>
    <%= f.file_field :file, class: "form-control", onchange: "readURL(this)" %>
  </div>

  <hr>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary btn-big btn-block" %>
  </div>
<% end %>
