<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-primary">
        <div class="panel-body">
          <h1 class="text-center">Images</h1>
          <a href="<%= new_image_path %>" class="center-block btn-normal btn">NEW IMAGE</a>
          <% @images.each do |image| %>
            <hr>
            <div class="img-index-item" title="<%= image.title %>"
                 style="background: url(<%= image.file.url %>);
                   background-size: cover; background-position: center;
                   background-repeat: no-repeat; background-color: black">
              <div class="img-title2"><%=h truncate(image.title, :length => 35) %></div>

            </div>
            <div class=img-show-btn3 row>
              <%= link_to 'Show', image, class: "col-sm-4 text-center btn-blue img-btn
                  animated wow fadeInLeft btn" %>
              <%= link_to 'Edit', edit_image_path(image), class: "col-sm-4 text-center btn-green img-btn
                  animated wow fadeInUp btn" %>
              <%= link_to 'Destroy', image, class: "col-sm-4 text-center btn-green-yellow img-btn
                  animated wow fadeInRight btn", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
