<div class="col-sm-8 col-sm-offset-2">
  <div class="panel panel-primary">
    <div class="panel-body img-show" style="background: url(<%= @image.file.url %>);
      background-size: contain; background-position: center; background-repeat: no-repeat">
      <p class="img-title" style="color: orange" title="<%= @image.title %>">
        <strong><%=h truncate(@image.title, :length => 40) %></strong>
      </p>
      <% if(current_user.id == @image.user_id) %>
        <div class="img-show-btn">
              <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-primary" %>
              <%= link_to 'Back', images_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

