<div class="col-sm-8 col-sm-offset-2">
  <div class="panel panel-primary">
    <div class="panel-body img-show" style="background: url(<%= @image.file.url %>);
      background-size: contain; background-position: center; background-repeat: no-repeat">
      <p class="img-title" title="<%= @image.title %>">
        <strong><%=h truncate(@image.title, :length => 40) %></strong>
      </p>
      <div class="img-show-btn">
            <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-primary" %>
            <%= link_to 'Back', images_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

