<div class="container">
  <div class="col-sm-3 animated wow fadeInDown" data-wow-delay="1.5s">
    <div class="panel panel-primary">
      <div class="panel-body avatar-body">
        <% if @image.user.avatar.to_s == "" %>
          <div class="avatar">
          </div>
        <% else %>
          <div class="avatar"
               style="background: url('<%= @image.user.avatar.to_s %>') no-repeat center center;
                 background-size: cover">
          </div>
        <% end %>
        <div class="h2style text-center"><%= @image.user.name %></div>
      </div>
    </div>
    <div id="follow-field">
      <% if current_user != @image.user %>
        <% if @image.user.followers.include?(current_user) %>
          <div class="follow img-btn btn animated wow bounceInDown"
               data-wow-delay="1s" data-wow-duration="1.5s"
               style="width: 100%"
               onclick="unfollow(<%= @image.user.id %>)">
            Unfollow
          </div>
        <% else %>
          <div class="follow img-btn btn animated wow bounceInDown"
               data-wow-delay="1s" data-wow-duration="1.5s" style="width: 100%"
               onclick="follow(<%= @image.user.id %>)">
            Follow
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-9 col-sm-9 animated wow fadeInDown" data-wow-delay="0.5s">
    <div class="panel panel-primary img-show2">
      <div class="img-show" style="background: url(<%= @image.file.url %>);
        background-size: contain; background-position: center; background-repeat: no-repeat">
        <p class="img-title" style="color: orange" title="<%= @image.title %>">
          <strong><%=h truncate(@image.title, :length => 40) %></strong>
        </p>
        <% if(current_user.id == @image.user_id) %>
          <div class="img-show-btn">
                <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-primary img-btn" %>
                <%= link_to 'Back', images_path, class: "btn btn-primary img-btn" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-primany animated wow fadeInLeft" data-wow-delay="1s">
      <div id="like-section" class="row">
        <div class="col-md-2">
          <% if !current_user.likes.where(image_id: @image.id).present? %>
            <div class="btn img-btn btn-like" id="btn-like-img-show"
                 onclick="like()">
              Like
            </div>
          <% else %>
            <div class="btn img-btn btn-like" id="btn-unlike-img-show"
                 onclick="unlike(<%= current_user.likes.where(
                 image_id: @image.id).ids %>)">
              Unlike
            </div>
          <% end %>
        </div>
        <div class="col-sm-2" style="margin-top: 1vh">
          <%= @image.like.count %>
           likes
        </div>
        <div class="col-sm-3" style="margin-top: 1vh">
          <%= @image.image_comment.count %>
          comments
        </div>
      </div>
      <% if user_signed_in? %>
        <%= form_for :image_comment, method: :post, remote: true do |f| %>
          <%= f.hidden_field :image_id, id: "img-id-field", :value => @image.id %>
          <div class="row">
            <div class= "cmt-field col-sm-9" style="margin-left: 1vw">
              <%= f.text_field :comment, class: "form-control", id: "cmt-field" %>
            </div>
            <div class="btn col-sm-2 btn-primary btn-cmt img-btn" id="btn-cmt">
              Comment
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <div id="cmt-section-parent">
      <ul id="cmt-section">
        <% @image.image_comment.each_with_index do |image_comment, index| %>
          <div class="comment row animated wow fadeInLeft" data-wow-delay="0.<%= index %>s">
            <% if image_comment.user.avatar.to_s == "" %>
              <div class="avatar2">
              </div>
            <% else %>
              <div class="avatar2 col-sm-1" style="background: url('<%= image_comment.user.avatar.to_s %>') no-repeat center center;
                background-size: cover">
              </div>
            <% end %>
            <div class="col-sm-9">
              <span><strong style="color: darkred"><%= image_comment.user.name %></strong></span>
              <span style="word-wrap: break-word">
                <%= image_comment.comment %>
              </span>
            </div>
            <% if user_signed_in? && (image_comment.user_id == current_user.id) %>
              <div class="btn btn-delete text-center" id="del-cmt" onclick="deletecmt(<%= image_comment.id %>)">
                X
              </div>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>

