<ul class="nav navbar-nav navbar-right row">
  <li><%= link_to "Home", root_path,
    class: "smoothScroll nav-btn col-sm-1 animated wow fadeInDown",
    "data-wow-delay": "1s", method: :get %></li>
  <li><%= link_to "Upload", new_image_path,
    class: "smoothScroll nav-btn col-sm-1 animated fadeInDown wow",
    "data-wow-delay": "1.15s", method: :get %></li>
  <% if user_signed_in? %>
    <li><%= link_to "Your Images", images_path,
      class: "smoothScroll nav-btn animated wow fadeInDown",
      "data-wow-delay": "1.2s", method: :get %></li>
    <li class="dropdown"><%= link_to current_user.name, current_user,
      style: "color: #1bb7c7 !important",
      class: "smoothScroll nav-btn animated wow fadeInDown", "data-wow-delay": "1.25s" %>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", user_path(current_user),
          class: "smoothScroll nav-btn text-center animated wow fadeInDown",
          "data-wow-delay": "0.1s" %></li>
        <li><%= link_to "Edit info", edit_user_registration_path,
          class: "smoothScroll nav-btn text-center animated wow fadeInDown",
          "data-wow-delay": "0.15s" %></li>
        <li><%= link_to "Logout", destroy_user_session_path,
          class: "smoothScroll nav-btn text-center animated wow fadeInDown",
          "data-wow-delay": "0.2s",
          method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Login", new_user_session_path,
      class: "smoothScroll nav-btn col-sm-1 animated wow fadeInDown",
      "data-wow-delay": "1.2s", method: :get %></li>
  <% end %>
</ul>
